@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.React {
  border: 0.1rem solid rgb(97, 218, 251);
}
.React:hover {
  background: rgba(97, 218, 251, 0.25);
}

.FramerMotion {
  border: 0.1rem solid rgb(173, 222, 12);
}
.FramerMotion:hover {
  background: rgba(173, 222, 12, 0.25);
}

.Web3 {
  border: 0.1rem solid rgb(108, 119, 224);
}
.Web3:hover {
  background: rgba(108, 119, 224, 0.25);
}

.WordPress {
  border: 0.1rem solid rgb(12, 100, 232);
}
.WordPress:hover {
  background: rgba(12, 100, 232, 0.25);
}

.Elementor {
  border: 0.1rem solid rgb(167, 47, 204);
}
.Elementor:hover {
  background: rgba(167, 47, 204, 0.25);
}

.SEO {
  border: 0.1rem solid rgb(65, 219, 14);
}
.SEO:hover {
  background: rgba(65, 219, 14, 0.25);
}

.Nuxt {
  border: 0.1rem solid rgb(236, 115, 16);
}
.Nuxt:hover {
  background: rgba(236, 115, 16, 0.25);
}

.Tailwind {
  border: 0.1rem solid rgb(7, 237, 237);
}
.Tailwind:hover {
  background: rgba(7, 237, 237, 0.25);
}

.Python {
  border: 0.1rem solid rgb(9, 101, 249);
}
.Python:hover {
  background: rgba(9, 101, 249, 0.25);
}

.JavaScript {
  border: 0.1rem solid rgb(131, 241, 14);
}
.JavaScript:hover {
  background: rgba(131, 241, 14, 0.25);
}

.Three-js {
  border: 0.1rem solid rgb(193, 65, 19);
}
.Three-js:hover {
  background: rgba(193, 65, 19, 0.25);
}

.Laravel {
  border: 0.1rem solid rgb(193, 65, 19);
}
.Laravel:hover {
  background: rgba(193, 65, 19, 0.25);
}

.Bootstrap {
  border: 0.1rem solid rgb(49, 68, 216);
}
.Bootstrap:hover {
  background: rgba(49, 68, 216, 0.25);
}

.Nginx {
  border: 0.1rem solid rgb(12, 205, 222);
}
.Nginx:hover {
  background: rgba(12, 205, 222, 0.25);
}

.Cloudflare {
  border: 0.1rem solid rgb(53, 114, 119);
}
.Cloudflare:hover {
  background: rgba(53, 114, 119, 0.25);
}

.TypeScript {
  border: 0.1rem solid rgb(114, 211, 136);
}
.TypeScript:hover {
  background: rgba(114, 211, 136, 0.25);
}

.Google-Maps {
  border: 0.1rem solid rgb(206, 95, 223);
}
.Google-Maps:hover {
  background: rgba(206, 95, 223, 0.25);
}

.MySQL {
  border: 0.1rem solid rgb(6, 238, 191);
}
.MySQL:hover {
  background: rgba(6, 238, 191, 0.25);
}

.Amplify {
  border: 0.1rem solid rgb(56, 232, 25);
}
.Amplify:hover {
  background: rgba(56, 232, 25, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}
.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}
.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}
.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.razorpay {
  border: 0.1rem solid rgb(82, 143, 240);
}
.razorpay:hover {
  background: rgba(82, 143, 240, 0.25);
}

.Material-ui {
  border: 0.1rem solid rgb(25, 118, 210);
}
.Material-ui:hover {
  background: rgba(25, 118, 210, 0.25);
}

.bulma {
  border: 0.1rem solid rgb(0, 209, 178);
}
.bulma:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(108, 154, 207);
}
.next:hover {
  background: rgba(108, 154, 207, 0.25);
}

.tailwind {
  border: 2px solid rgb(6, 182, 212);
}
.tailwind:hover {
  background: rgba(6, 182, 212, 0.25);
}

.react-query {
  border: 2px solid rgb(255, 65, 84);
}
.react-query:hover {
  background: rgba(255, 65, 84, 0.25);
}

.shopify {
  border: 2px solid rgb(78, 65, 255);
}
.shopify:hover {
  background: rgba(78, 65, 255, 0.25);
}

.python {
  border: 2px solid rgb(215, 160, 22);
}
.python:hover {
  background: rgba(215, 160, 22, 0.25);
}

.GraphQL {
  border: 2px solid rgb(40, 204, 32);
}
.GrahpQL:hover {
  background: rgba(40, 204, 32, 0.25);
}

.AWS {
  border: 2px solid rgb(100, 13, 221);
}
.AWS:hover {
  background: rgba(100, 13, 221, 0.25);
}

.Angular {
  border: 2px solid rgb(241, 7, 89);
}
.Angular:hover {
  background: rgba(241, 7, 89, 0.25);
}

.css-modules {
  border: 2px solid rgb(21, 114, 182);
}
.css-modules:hover {
  background: rgba(21, 114, 182, 0.25);
}
